* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375C
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.btn {
    --height:60px;
    display: inline-block;
    text-align: center;
    min-width: 205px;
    line-height: var(--height);
    padding: 0 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    height: var(--height);
    border-radius: 99px;
    background-color: #2E80CE;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}


.section-desc {
    width: 468px;
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.btn:hover {
    opacity: 0.8;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    background-color: #fff;
    transition: 0.25s;
    color: #575F66;
}

.control-btn:hover {
    color: #fff;
    background-color: #2E80CE;
    cursor: pointer;
    border-color: #2E80CE;
}

.control-btn-flip {
    rotate: 180deg;
}

button, textarea, select, input {
    font-family: inherit;
    font-size: inherit;
}

/* Header */

.header {
    padding-top: 30px ;
    background-color: var(--primary-color);
    height: 100vh;
}

.container {
    width:  1170px ;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    display: inline-flex;
    position: relative;
}

.logo__icon {
    margin-right: 0.6em ;
}

.logo__icon::before,
.logo__icon::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
}


.logo__icon::before{
    width: 3em;
    height: 3em;
    background-color:#2E80CE;
}

.logo__icon::after {
    position: absolute;
    top: 1.1em;
    right: 0.3em;
    left: 1.1em;
    bottom: 0.3em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__brand {
    display: block;
    font-family: Sora, sans-serif;
    color: #FFF;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
}


.logo__brand--small {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 2.8rem;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.8rem;
}
.navbar__link--active{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.navbar__list::before {
    position: absolute;
    top:  11px;
    left: 8px  ;
    content: "";
    display: block;
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.navbar__link:hover, .navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup{
    --height: 44px;
    min-width: 104px;
    margin-left: 8px;
}

/* Hero */

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}
.hero__content{
    width: 44%;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__row span {
    color: #FFF;
    margin-left: 38px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.hero__images {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__images:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__images:last-child {
    width: 210px;
    height: 410px;
}

/* Services */
.services {
    margin: 170px 0;
}

.services__heading {
    text-align: center;
}

.services__desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.services__body {
    margin-top: 70px;
}

.services__body--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__images {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services-list {
    width: 470px;
}

.services-item {
    display: flex;
    padding: 22px;
}

.services-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EFF6FD;
    transition: 0.2s;
}

.services-item:hover .services-item__icon-wrap {
    background-color: #2E80CE;
    color: #fff;
}

.services-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.services-item__desc {
    color: #575F66;
    margin-top: 8px;
    font-size: 1.6rem;  
    font-weight: 300;
    line-height: 1.75;
}

.services-item:last-child {
    margin-bottom: 55px;
}


/* Works */
.work {
    padding: 100px 0px;
    background: #F6FBFF;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
    margin-top: 86px;
}

.work-items {
    padding: 43px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: 0.25s;

}

.work-items:hover {
    border-color:#2E80CE;
    transform: translateY(-16px);
}

.work-items__heading {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    margin-top: 18px;
}

.work-items__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-items__more {
    display: block;
    margin-top: 18px;
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* Member */

.member {
    margin-top: 170px;
}

.member__header{
    text-align: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 70px;
    column-gap: 34px;
}

.member-items__thumb {
    background-color: #EAF6FF;
    padding-top: 28px;
    border-radius: 6px;
    overflow: hidden;
}

.member-items__img {   
    display: block;
    max-width: 100%;
    height: 290px; 
    object-fit: cover;
    transition: 0.25s;
}

.member-items__name {
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.member-items__title {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.member__control {
    justify-content: center;
    margin-top: 38px;
}

.member-items:hover .member-items__img {
    transform: scale(1.1);
}
/* Feature */
.feature {
    margin-top: 170px;
}

.feature__block {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0 ;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}

/* Install */
.install {
    margin-top: 265px;
}

.install__inner {
    display: flex;
    column-gap: 160px;
    align-items: center;
    background-color: #2E80CE;
    padding: 0 70px ;
}

.install__heading,.install__desc {
    color: white;
} 

.install__heading {
    max-width: 489px ;
}

.install__desc {
    width: auto;
}

.install__phone {
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}

.install__info {
    width: 50%;
}

.install__app {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

/* News */
.news__inner {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 130px;
}

.news__content-heading {
    max-width: 470px;
}

.news__more {
    display: block;
    margin: 28px 0;
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.news__list {
    display: flex;
    column-gap: 30px;
    width: 570px;
}

.news-items{
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s
}

.news-items:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news-items__thumb{
    height: 172px;
    overflow: hidden;
}

.news-items__img {
    height: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
    transition: 0.25s;
}
.news-items:hover .news-items__img {
    transform: scale(1.1);
}

.new-items__content {
    border-radius: 0 0 12px 12px;
    border-top: none;
    border: 1px solid #E8EBEE;
    padding: 24px 16px;
    transition: 0.25s;
}

.news-items:hover .new-items__content {
    border-color: #fff;
}

.news-items__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.news-items__desc{
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.new-items__more {
    display: flex;
    margin-top: 12px;
    color: #10375C;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;
}

.new-items__more:hover {
    color: #2E80CE;
}

/* Appointment */
.appointment {
    margin-top: 170px;
    text-align: center;
}

.appointment__inner {
    padding: 100px 178px;
    background: #F6FBFF;
    border-radius: 4px;
}

.appointment__heading{
    padding-bottom: 20px;
    position: relative;
}

.appointment__heading::after {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: #2E80CE;
}

.appointment__desc {
    width: 617px;
    margin: 18px auto 38px;
    font-size: 1.6rem;
}

/* Footer */

.footer {
    font-family: "Open Sans", sans-serif;
    margin-top: 170px;
    padding-top: 100px;
    background: #10375C;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr ;
    column-gap: 78px;
}

.footer__column-desc {
    margin-top: 20px;
    color: #A9B3BB;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.footer__heading {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer__items {
    margin-top: 10px;
}

.footer__link {
    color: #A9B3BB;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
    white-space: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__social {
    margin-bottom: 28px;
    display: flex;
    gap: 10px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    color: #2E80CE;
    transition: 0.25s;
}

.footer__social-link:hover {
    background-color: #2E80CE;
    color: #fff;
}

.footer__email {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.footer__email-box {
    padding: 0 10px;
    margin-right: 12px;
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
}

.footer__email-box::placeholder {
    color: #9CA8B1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer__email-submit {
    min-width: 108px;
    --height: 46px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
}

.footer__copyright {
    border-top: 1px solid #406181 ;
}

.footer__copyright-text {
    padding: 28px 0 42px;
    color: #AAB3BA;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}